
    <head>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
            <script>
                //Scripts for jQuery animations
                $(document).ready(function(){
                    $('.back').hide();
                    $('#log').hide();
                    $('.history').click(function(){
                        $('#app').animate({left:'-350px'});
                        $('.back').show();
                        $('#log').delay(400).show(0);
                        $('.history').hide();
                    });

                    $('.back').click(function(){
                        $('#app').animate({left:'0px'});
                        $('.back').hide();
                        $('#log').hide();
                        $('.history').show();
                    });
                });
            </script>         

            <link rel='stylesheet' href='styles.css'/>
       
    </head>
<body>

    <div id="app"></div>
    <div id="log">
        <h1 style="color:black;">The character later appears in person when sending a messenger to boast his renewed intentions of conquering his universe before his aging adversary. In response, Doctor Strange travels to Dormammu's "Dark Dimension" as the Ancient One does not consider himself powerful enough to defeat Dormammu, and manages to overcome all supernatural servitors sent against him. Dormammu engages Strange in mystic combat and shows himself to be far more powerful, but, when drawing upon the realm's energies, inadvertently weakens the barrier containing the horde of Mindless Ones. Since they threatened Dormammu's subjects, Strange helped his enemy to re-seal the juggernauts by letting power from his amulet flow into Dormammu. Indebted to Strange for his help, Dormammu ends the fight, and in return Strange demands a binding vow to never enter the "Earth realm" again and to not harm Clea. Dormammu complies, but gains a burning hatred against Strange for the humiliation.</h1>
    </div>
    <script src='app.js'></script>
    
      
  </script>
</body>

