
    <head>
        <title>Calculator</title>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
            <script>
                //Scripts for jQuery animations
                $(document).ready(function(){
                    $('.back').hide();
                    $('#log').hide();
                    $('.history').click(function(){
                        $('#app').animate({left:'-350px'});
                        $('.back').show();
                        $('#log').delay(400).show(0);
                        $('.history').hide();
                    });

                    $('.back').click(function(){
                        $('#app').animate({left:'0px'});
                        $('.back').hide();
                        $('#log').hide();
                        $('.history').show();
                    });
                });
            </script>         

            <link rel='stylesheet' href='styles.css'/>
       
    </head>
<body>

    <div id="app"></div>

    <div id="log"></div>
    <script src='app.js'></script>
    
      
  </script>
</body>

